*{
    text-decoration: none;
    color: black;
}
.container{
  display: grid;
  grid-template-columns: repeat(auto-fill, 365px);
  height:150px;
  gap: 20px;
  padding: 10px;
  justify-content: center;
}
.AllAndFaves{
  display: flex;
  justify-content: center;
  align-items: center;
}

.All{
  padding: 2px 20px;
  border: 1px solid;
  cursor: pointer;
}
.Faves{
  padding: 2px 20px;
  border: 1px solid;
  cursor: pointer;
}
