@import url('https://fonts.googleapis.com/css2?family=Baskervville&family=Roboto:wght@500&display=swap');
*{
    text-decoration: none!important;
    color: black;
}

.HeaderHackerNew{
  box-shadow: 0 1px 4px 0 rgba(0, 21, 41, 0.12);
  background-image: linear-gradient(to bottom, #ececec -32%, #fff 124%);
}
.HeaderHackerNew .title{
  font-family: 'Baskervville', serif;
  font-size:1.75rem;
  color: #3b3b3b;
  margin: 0;
  padding-top:44px;
  padding-left: 150px;
  padding-bottom: 42px;
}

.container{
  display: grid;
  grid-template-columns: repeat(auto-fill, 365px);
  height:150px;
  gap: 20px;
  padding: 10px;
  justify-content: center;
}
.AllAndFaves{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
  margin-bottom:3.938rem;
}
@media (max-width:600px){
  .HeaderHackerNew .title{
    padding-left: 0;
    text-align: center;
  }
}
